/* Font color */
body,
.link-secondary {
  color: white;
}

.header-navbar {
  background-color: black;
  opacity: 0.7;
}

.navbar-brand a,
#accountDropdownMenuLink {
  color: #919191;
  font-size: 1rem;
  font-weight: 700;
}

.nav-link.active {
  color: white;
}

.nav-link:hover {
  color: white;
}

.carousel-item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-item-banner1 {
  background-image: url("../images/banner1.png");
}
.carousel-item-banner2 {
  background-image: url("../images/banner2.png");
}
.carousel-item-banner3 {
  background-image: url("../images/banner3.jpg");
}
.carousel-item-banner4 {
  background-image: url("../images/montreal.jpg");
}

.carousel-caption {
  top: 6rem;
}

.carousel-caption h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 20px;
}

.carousel-caption p {
  font-size: 1.2rem;
  background-color: rgba(228, 233, 237, 0.3);
  display: inline;
  padding: 5px 30px;
}

.carousel-indicators {
  bottom: 5rem;
}

.body__cards {
  margin-top: -5rem;
}

.card {
  background-color: #3d3d3d;
  text-align: start;
  padding: 50px 40px;
}

.card__btn {
  width: fit-content;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
}

footer {
  background-color: black;
}

.footer-list-items {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  /* Handle card title split into two lines */
  .card-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .footer-list-items {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .carousel-caption h1 {
    font-size: 3rem;
  }
}

/* Handle the xs screen */
@media screen and (max-width: 575px) {
  .navbar-brand a {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-caption {
    top: 5rem;
    padding-left: 0;
    margin-left: -10px;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .footer__copy-right {
    font-size: 1rem;
  }
}

/* Fix the mobile with the screen size less than 350px, such as iphoneSE */
@media screen and (max-width: 350px) {
  .navbar-brand a {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
  }
}
